

.App {
  font-size: bold;
  min-width: 100vw;
  min-width: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: #feffff;
  display: flex;
  overflow-x: hidden;
  padding: 0px 40px;
}

.logo{
  width: 100px;
  min-width: 60px;
  height: 60px;
}
.menuContainer{
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 30px 15px;


}
.subMenu{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.css-i4bv87-MuiSvgIcon-root{
  color: #313233;
  font-size:18px;


}
main{
  flex: 1;
  height: 100%;
  margin-left: 130px;
}
.iconContainer{
  width: 45px;
  height: 45px;
  min-width: 40px;
  border-radius: 40%;
  border: 1.8px solid #717273;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
  margin: 15px 0;
  transition: 0.3s;

}
.iconContainer:hover,.iconContainer.active{
  background-color: #2e2f30;
}
.iconContainer:hover .css-i4bv87-MuiSvgIcon-root,
.iconContainer.active .css-i4bv87-MuiSvgIcon-root{

  color:white;
}
.searchBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width:90%;
  background-color: #feffff;
  border: 1.9px solid #757677;
  padding:8px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  margin-top: 5px;

}
.searchBox input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #313233;
  font-size: 18px;
  font-weight: bold;
 
}
.search{
  background-color:#000001;
  width:40px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  cursor: pointer;

}
.search img{
  width: 20px;
  height: 20px;
}
.mainContainer{
  flex: 1;
  height: auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  grid-auto-rows: 10px;
  justify-content: center;

}

.pin{
  border-radius: 16px;
  background-color: #444;
  margin: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.pin.small{
  grid-row-end: span 26;
}

.pin.medium{
  grid-row-end: span 33;
}

.pin.large{
  grid-row-end: span 40;
}
.pin .content{
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,0.2);
  position:absolute;
  bottom: -55px;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;

}
.pin .content h3{
  color: #feffff;
  font-size: 18px;
  font-weight: 500;
}

.pin:hover .content{
  bottom: 0;
  transition: bottom 0.2s;

}
.pin .content .search{
 
  background-color: #fb3975 !important;
}
.pin .mainPic{
  position: absolute;
  width:100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.searchArrow{
  background-color: #fb3975;
  width:38px;
  height: 38px;
  border-radius: 50%;
}

@media screen and (max-width:480px){
  .App{
    padding: 0px 20px;
  }
  .menuContainer{
    padding: 30px 0px;
    width: unset;
    left: 15px;
  }
  .main{
   margin-left: 75px; 
  }
  .searchBox{
    width:38%;
  }
}